# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
venv/
.venv/

# Environment
.env

# Flask
instance/

# Uploads
app/static/images/uploads/

# Node / Tailwind
node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Database
*.db

# Docs
*.md
!README.md
